@import './primereact.css';
@import './bootstrap-grid.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Segoe UI', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
  text-transform: uppercase;
  font-size: 12px;
}
